/Dewey_climate_bench_colab_env.ipynb
/gp_model.ipynb
/hackathon2021.code-workspace
/inputs_1pctCO2.nc
/inputs_abrupt-4xCO2.nc
/inputs_hist-aer.nc
/inputs_hist-GHG.nc
/inputs_historical.nc
/inputs_ssp126.nc
/inputs_ssp245.nc
/inputs_ssp370-lowNTCF.nc
/inputs_ssp370.nc
/inputs_ssp585.nc
/outputs_1pctCO2.nc
/outputs_abrupt-4xCO2.nc
/outputs_hist-aer.nc
/outputs_hist-GHG.nc
/outputs_historical.nc
/outputs_piControl.nc
/outputs_ssp126.nc
/outputs_ssp370-lowNTCF.nc
/outputs_ssp370.nc
/outputs_ssp585.nc